@page "/sign_up"
@inject IUserRepos Repository
@inject IUserCurrentRepos userCurrentRepos
@inject NavigationManager Navigation

<PageTitle>Sign In</PageTitle>

<div class="row justify-content-center mb-5">
    <div class="col-10">
        <EditForm method="post" FormName="AddUserForm" Model="User" OnValidSubmit="AddUsers" autocomplete="off">
            <div class="mb-3">
                <label for="username" class="form-label">
                    Username:
                </label>
                <InputText id="username" @bind-Value="User.UserName" class="form-control shadow-none"></InputText>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">
                    Password:
                </label>
                <InputText id="password" @bind-Value="User.UserPass" type="password" class="form-control shadow-none"></InputText>
            </div>

            <div class="mb-3">
                <label for="favgenre" class="form-label"> Favorite Genre:</label>
                <InputSelect id="favgenre" @bind-Value="User.FavGenre" class="form-control shadow-none">
                    <option value="">Genre:</option>
                    @foreach (var genre in Enum.GetValues(typeof(Genre)))
                    {
                        <option value="@genre">
                            @GenreDisplay.GetGenreName((Genre)genre).ToString()
                        </option>
                    }
                </InputSelect>
            </div>

            <div class="mb-3">
                <label for="noGenre" class="form-label"> Least Favorite Genre:</label>
                <InputSelect id="noGenre" @bind-Value="User.NoGenre" class="form-control shadow-none">
                    <option value="">Genre:</option>
                    @foreach (var genre in Enum.GetValues(typeof(Genre)))
                    {
                        <option value="@genre">
                            @GenreDisplay.GetGenreName((Genre)genre).ToString()
                        </option>
                    }
                </InputSelect>
            </div>
            
            <DataAnnotationsValidator/>
            <ValidationSummary/>
            <button type="submit" class="btn btn-primary">Login</button>
        </EditForm>
    </div>
</div>
@code {
    [SupplyParameterFromForm]
    public Users User { get; set; } = new();
    private string? ErrorMessage { get; set; }
    private async Task AddUsers()
    {
        var success = await Repository.AddUserAsync(User);

        var user = await Repository.LoginAsync(User.UserName, User.UserPass);
        var userCurrent = new UserCurrent
        {
            UserId = user.UserId,
            UserName = user.UserName,
            UserPass = user.UserPass,
            FavGenre = user.FavGenre,
            NoGenre = user.NoGenre
        };

        await userCurrentRepos.AddUserCurrentAsync(userCurrent);
        // Users.UserPass = BCrypt.Net.BCrypt.HashPassword(Users.UserPass);
        
        if (success) { Navigation.NavigateTo("/"); }
        else { ErrorMessage = "Could not save info. Please try again."; }
    }
}
