@page "/login"
@using System.ComponentModel.DataAnnotations
@using System.Threading.Tasks
@inject AppDbContext DbContext
@inject NavigationManager NavigationManager

<PageTitle>Login</PageTitle>

<EditForm Model="@loginModel" FormName="LoginForm" OnValidSubmit="HandleLogin">

    <div class="form-group">
        <label for="username">Username</label>
        <InputText id="username" class="form-control" @bind-Value="loginModel.Username" />
        <ValidationMessage For="@(() => loginModel.Username)" />
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <InputText id="password" type="password" class="form-control" @bind-Value="loginModel.Password" />
        <ValidationMessage For="@(() => loginModel.Password)" />
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
    <DataAnnotationsValidator />
    <ValidationSummary />
</EditForm>

@code {
    private LoginModel loginModel = new LoginModel();

    private async Task HandleLogin()
    {
        var user = await DbContext.Users
        .FirstOrDefaultAsync(u => u.UserName == loginModel.Username);
        if (user != null) { NavigationManager.NavigateTo("/"); }
        else {}

    }

    public class LoginModel
    {
        [Required(ErrorMessage = "Please enter a valid username")]
        public string Username { get; set; } = string.Empty;

        [Required(ErrorMessage = "Please enter a valid password")]
        public string Password { get; set; } = string.Empty;
    }
    // private bool VerifyPassword(string enteredPassword, string storedHash)
    // {
    //     return BCrypt.Net.BCrypt.Verify(enteredPassword, storedHash);
    // }
}