@page "/logout"
@using System.ComponentModel.DataAnnotations
@using System.Security.Claims
@using System.Threading.Tasks
@using BookLib.Domain.Entities
@using BookLib.Infastructure.Context
@using Microsoft.AspNetCore.Components.Authorization
@using BookLib.Infastructure.Auth
@inject IUserCurrentRepos UserCurrentRepos
@inject AppDbContext DbContext
@inject NavigationManager Navigation
@inject CurrentUser AuthStateProvider

<PageTitle>Logout</PageTitle>
@if (!string.IsNullOrEmpty(Error))
{
    <div class="alert alert-danger">@Error</div>
}

<EditForm Model="logoutModel" FormName="LogoutForm" OnValidSubmit="HandleLogout">
    <div class="d-flex gap-2">
        <button class="btn btn-primary">Logout</button>
    </div>
</EditForm>
@code {
    [SupplyParameterFromForm(FormName = "Logout")]
    public LogoutModel logoutModel { get; set; } = new();

    string Error = string.Empty;

    private async Task HandleLogout()
    {
        var user = await DbContext.UserCurrent.FirstOrDefaultAsync();
        if (user == null)
        {
            Error = "No user is currently logged in.";
            return;
        }
        else 
        {
            var success = await UserCurrentRepos.RemoveUserCurrentAsync(user);
            if(success)
            {
                Navigation.NavigateTo("/");
            }
        }
    }

    public class LogoutModel
    {
        // [Required]
        // public string Username { get; set; } = string.Empty;

        // [Required]
        // public string Password { get; set; } = string.Empty;
    }
}
