@page "/user_profile"
@attribute [Authorize]
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject AppDbContext DbContext

<PageTitle>Profile</PageTitle>

@if (userLog != null)
{
    <p><strong>Username:</strong> @userLog.UserName</p>
    <p><strong>Favorite Genre:</strong> @userLog.FavGenre</p>
    <p><strong>Least Favorite Genre:</strong>@userLog.NoGenre</p>
}
else
{
    <p>Loading...</p>
}

@code {
    private Users? userLog;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        var userId = user.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
        if (!string.IsNullOrEmpty(userId) && Guid.TryParse(userId, out var id))
        {
            userLog = await DbContext.Users.FirstOrDefaultAsync(u => u.UserId == id);
        }
    }
}
