@page "/profile"
@inject IUserCurrentRepos UserCurrRepos
@inject IBookRepos BookRepos
@inject IUserRepos UserRepos
@attribute [StreamRendering]
@using Microsoft.AspNetCore.Components
@inject NavigationManager Navigation

<PageTitle>Profile</PageTitle>

@foreach (var u in currUsers)
{    
        <div class="profile-body">
            <h5>@u.UserName</h5>
            Favorite Genre: @GenreDisplay.GetGenreName(u.FavGenre)
            | Least Favorite Genre: @GenreDisplay.GetGenreName(u.NoGenre)
        </div>
    <EditForm Model="profileModel" FormName="EditUserForm" OnValidSubmit="SendToEdit">
        <div class="d-flex gap-3">
            <button class="btn btn-primary">Edit Profile</button>
        </div>
    </EditForm>
}

@* @if (currUsers != null && currUsers.Count > 0)
{
    Navigation.NavigateTo($"/edit_user/{currUsers[0].UserId}");
} *@

@code {
    public List<UserCurrent> currUsers { get; set; } = new List<UserCurrent>();

    [SupplyParameterFromForm(FormName = "EditUser")]
    public ProfileModel profileModel { get; set; } = new();
    

    protected override async Task OnInitializedAsync()
    {
        currUsers = await UserCurrRepos.GetAllCurrentAsync();
    }
    private void SendToEdit()
    {
        if (currUsers != null)
        {
            Navigation.NavigateTo($"/edit_user/{currUsers[0].UserId}");
        }
    }
    public class ProfileModel { }
}
