@inherits LayoutComponentBase
@inject IUserCurrentRepos UserCurrRepos
@attribute [StreamRendering]
@using Microsoft.AspNetCore.Components
@inject NavigationManager Navigation


<div class="page">

    <div class="topnav">
        @* <NavLink href="/" Match="NavLinkMatch.All" class="nav-link">Home</NavLink> *@
        
        @if (CurrUsers is null)
        {
            <p><em>Loading...</em></p>
    
        }
        else if (!CurrUsers.Any())
        {
            
            <span style="color: black; font-size: 1.1rem; margin-right: auto;">Hello There</span>
            <NavLink href="/sign_up" class="nav-link">Sign up</NavLink>
            @* <NavLink href="/viewbooks" class="nav-link">View Books</NavLink> *@
            <NavLink href="/login" class="nav-link">Login</NavLink>
        }
        else
        {

            @foreach (var u in CurrUsers)
            {

                <span style="color: black; font-size: 1.1rem; margin-right: auto;">Welcome @u.UserName</span>
                <NavLink href="/addBooks" class="nav-link">Add Book</NavLink>
                <NavLink href="/viewbooks" class="nav-link">View Books</NavLink>
                <NavLink href="/logout" class="nav-link">Logout</NavLink>

            }

        }
       

    </div> 
    
    <main>
        <article class="content px-xl-4">
            <ErrorBoundary>
                <ChildContent>
                    @Body
                </ChildContent>
                <ErrorContent Context="ex">
                    <div class="alert alert-danger" role="alert">
                        <h4 class="alert-heading">💥 Error!</h4>
                        <p><strong>@ex.GetType().Name:</strong> @ex.Message</p>
                        <hr>
                        <pre>@ex.StackTrace</pre>
                    </div>
                </ErrorContent>
            </ErrorBoundary>
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
@code
{
    public List<UserCurrent> CurrUsers { get; set; } = new List<UserCurrent>();
    [Inject] public IBookRepos? BookRepos { get; set; }

    protected override async Task OnInitializedAsync()
    {
        CurrUsers = await UserCurrRepos.GetAllCurrentAsync();
    }
}